
h1 {
    color: red;
    font-size: xx-large;
}

a:hover {
    color: turquoise;
}

p {
    color: black;
    font-size: medium;
}

body {
    background-color: floralwhite;
    font-family: cursive;
}
