
h1:hover{
    color: red;
    font-size: xx-large;
}

a:hover {
    color: turquoise;
}

p {
    color: black;
    font-size: medium;
    border: aqua;
    border-width: 5px;
    margin: 20px;
}

body {
    background-color: floralwhite;
    font-family: cursive;
}
